global:
  useNetworkPolicies: true
useDefaultDenyNetworkPolicy: true


broker:
  monitoring:
    metricsEnabled: true
    podMonitorEnabled: true
  networkPolicy:
    extraIngress:
      - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
        ports:
        - port: 80
          protocol: TCP

eventManager:
  networkPolicy:
    extraEgress:
    - ports:
      - port: 443
        protocol: TCP
      to:
      - ipBlock:
          cidr: 0.0.0.0/0
          except:
          - 10.0.0.0/8
          - 172.16.0.0/12
          - 192.168.0.0/16
forwardProxy:
  networkPolicy:
    extraEgress:
    - ports:
      - port: 443
        protocol: TCP
      to:
      - ipBlock:
          cidr: 0.0.0.0/0
          except:
          - 10.0.0.0/8
          - 172.16.0.0/12
          - 192.168.0.0/16
jobSpawner:
  workerNetworkPolicy:
    extraEgress:
    - ports:
      - port: 443
        protocol: TCP
      to:
      - ipBlock:
          cidr: 0.0.0.0/0
          except:
          - 10.0.0.0/8
          - 172.16.0.0/12
          - 192.168.0.0/16

mongodb:
  persistence:
    storageClassName: gp2
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: gams.com/node-type
            operator: In
            values:
            - stateful-private-worker
postgresql:
  persistence:
    storageClassName: gp2
  externalDatabase:
    enabled: false
    host: "postgresql-ha-cnpg-rw.database.svc.cluster.local"
    port: "5432"
    networkPolicy:
      podSelector:
        matchLabels:
          cnpg.io/cluster: postgresql-ha-cnpg
      namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: database
    initialize:
      run: true 
      connectionString: "" 
      # Example: "postgresql://postgres:YourSecurePa$$word@postgresql-ha-cnpg-rw.database.svc.cluster.local/test-db"
  database: "test-db"
  database_user: "postgres"
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: gams.com/node-type
            operator: In
            values:
            - stateful-private-worker

rabbitmq:
  persistence:
    storageClassName: gp2
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: gams.com/node-type
            operator: In
            values:
            - stateful-private-worker
