global:
  useNetworkPolicies: true
  # nodeSelector: Node labels for pod assignment
  nodeSelector:
    gams.com/node-type: private-worker
  # tolerations: tolerations for pod assignment
  tolerations: []
  # nodeSelector: Node labels for pod assignment of stateful sets (database)
  nodeSelectorSts:
      gams.com/node-type: stateful-private-worker
  # tolerationsSts: tolerations for pod assignment of stateful sets (database)

useDefaultDenyNetworkPolicy: false
ingress:
  enabled: true
  ingressClassName: "nginx-ingress"
  annotations:
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/target-group-attributes: deregistration_delay.timeout_seconds=30
    alb.ingress.kubernetes.io/target-type: ip
    nginx.ingress.kubernetes.io/rewrite-target: /
  path: /
  # The path matching type (e.g., Prefix).
  pathType: "Prefix"
  # A list of hostnames to route traffic for.
  # This list MUST be provided for the Ingress to be created.
  hosts:
    - my-app.example.com
  tls:
    - hosts:
        - my-app.example.com
broker:
  monitoring:
    metricsEnabled: true
    podMonitorEnabled: true
  service:
    type: ClusterIP
  networkPolicy:
    ingress: []
    extraIngress:
      - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
        ports:
        - port: 80
          protocol: TCP

jobSpawner:
  workerNetworkPolicy:
    extraEgress: []

mongodb:
  persistence:
    storageClassName: gp2

postgresql:
  persistence:
    storageClassName: gp2
  externalDatabase:
    enabled: false
    host: "postgresql-ha-cnpg-rw.database.svc.cluster.local"
    port: "5432"
    networkPolicy:
      podSelector:
        matchLabels:
          cnpg.io/cluster: postgresql-ha-cnpg
      namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: database
    initialize:
      run: true
      connectionString: ""
      # Example: "postgresql://postgres:YourSecurePa$$word@postgresql-ha-cnpg-rw.database.svc.cluster.local/test-db"
  database: "test-db"
  database_user: "postgres"

rabbitmq:
  persistence:
    storageClassName: gp2
