{{- $mountApiUrl := printf "%s/api" "/" | replace "//" "/"}}
{{- $rootUrl := ternary "/usr/share/nginx/engine" "/usr/share/nginx" (eq "/" "/") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.names.fullname" . }}-broker
  labels:
    app: {{ include "common.names.fullname" . }}-broker
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "common.names.fullname" . }}-broker
  template:
    metadata:
      labels:
        app: {{ include "common.names.fullname" . }}-broker
    spec:
    {{- if .Values.broker.affinity }}
      affinity: {{- include "common.tplvalues.render" (dict "value" .Values.broker.affinity "context" $) | nindent 8 }}
    {{- end }}
      automountServiceAccountToken: false
{{ include "common.images.renderPullSecrets" ( dict "images" (list .Values.broker.uwsgi.image .Values.broker.nginx.image) "context" $) | indent 6}}
      containers:
        - name: broker
          image: {{ include "common.images.image" (dict "imageRoot" (dict "registry" .Values.broker.uwsgi.image.registry "repository" .Values.broker.uwsgi.image.repository "tag" (coalesce .Values.broker.uwsgi.image.tag .Values.image.tag .Chart.AppVersion)) "global" .Values.global) }}
          imagePullPolicy: Always
          resources:
{{ toYaml .Values.broker.uwsgi.resources | indent 12 }}
          volumeMounts:
            - name: uwsgi-socket
              mountPath: /tmp
          env:
            - name: GMS_RUNNER_SPWN_MAX_CPU
              value: "129"
            - name: GMS_RUNNER_SPWN_MAX_RAM_MiB
              value: "4200000"
            - name: GMS_RUNNER_LOG_SHOW_MSEC
              value: "true"
            - name: GMS_RUNNER_FORWARD_PROXY_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_FORWARD_PROXY_PWD
            - name: GMS_RUNNER_FORWARD_PROXY_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_FORWARD_PROXY_SECRET
            - name: GMS_RUNNER_FORWARD_PROXY_ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_FORWARD_PROXY_ENC_KEY
            - name: GMS_RUNNER_FORWARD_PROXY_HOST
              value: http://{{ include "common.names.fullname" . }}-forward-proxy:8000
            - name: UWSGI_NUM_PROCESSES
              value: "1"
            - name: UWSGI_MOUNT_LOCATION
              value: "{{ $mountApiUrl }}"
            - name: UWSGI_SOCKET
              value: "/tmp/uwsgi.sock"
            - name: GMS_RUNNER_DATABASE_SERVER
              value: {{ include "common.names.fullname" . }}-database-bouncer
            - name: GMS_RUNNER_DATABASE_PORT
              value: "6432"
{{- if .Values.postgresql.externalDatabase.enabled }}
            - name: GMS_RUNNER_DATABASE_NAME
              value: "{{ .Values.postgresql.externalDatabase.database }}"
{{- else }}
            - name: GMS_RUNNER_DATABASE_NAME
              value: "gamsrest"
{{- end }}
            - name: GMS_RUNNER_DATABASE_DIALECT
              value: "postgresql"
            - name: GMS_RUNNER_DATABASE_BROKER_DRIVER
              value: "pg8000"
            - name: GMS_RUNNER_DATABASE_BROKER_USER
              value: "broker"
            - name: GMS_RUNNER_DATABASE_BROKER_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_DATABASE_BROKER_PWD
            - name: GMS_RUNNER_RABBIT_HOST
              value: {{ include "common.names.fullname" . }}-queue
            - name: GMS_RUNNER_RABBIT_BROKER_USER
              value: "broker"
            - name: GMS_RUNNER_RABBIT_BROKER_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_RABBIT_BROKER_PWD
            - name: GMS_RUNNER_MONGO_BROKER_USER
              value: "mongo_broker"
            - name: GMS_RUNNER_MONGO_BROKER_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.names.fullname" . }}-gamsworker
                  key: GMS_RUNNER_MONGO_BROKER_PWD
            - name: GMS_RUNNER_MONGO_HOST
              value: {{ include "common.names.fullname" . }}-mongo
            - name: GMS_RUNNER_MONGO_INITDB
              value: "gams_worker"
{{- if .Values.broker.monitoring.metricsEnabled }}
            - name: PROMETHEUS_AUTH_USERNAME
              valueFrom:
                secretKeyRef:
                  key: PROMETHEUS_AUTH_USERNAME
                  name: {{ include "common.names.fullname" . }}-gamsworker
            - name: PROMETHEUS_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: PROMETHEUS_AUTH_PASSWORD
                  name: {{ include "common.names.fullname" . }}-gamsworker
{{- end }}
        - name: nginx
          image: {{ include "common.images.image" (dict "imageRoot" (dict "registry" .Values.broker.nginx.image.registry "repository" .Values.broker.nginx.image.repository "tag" (coalesce .Values.broker.nginx.image.tag .Values.image.tag .Chart.AppVersion)) "global" .Values.global) }}
          imagePullPolicy: Always
          resources:
{{ toYaml .Values.broker.nginx.resources | indent 12 }}
          volumeMounts:
            - name: uwsgi-socket
              mountPath: /tmp
          ports:
            - containerPort: 80
          env:
            - name: mount_url
              value: "/"
            - name: mount_api_url
              value: {{ $mountApiUrl | quote }}
            - name: uwsgi_pass_url
              value: unix:///tmp/uwsgi.sock
            - name: root_url
              value: {{ $rootUrl | quote }}
            - name: ENGINE_URL
              value: {{ $mountApiUrl | quote }}
            - name: BASE_URL
              value: "/"
            - name: NGINX_ENVSUBST_TEMPLATE_SUFFIX
              value: ".template"
      volumes:
        - name: uwsgi-socket
          emptyDir: {}
