# GAMS Engine service parameters
service:
# service.type determines the type of the service that will be used to expose the GAMS Engine API
# Possible values: NodePort and ClusterIp
  type: NodePort
# service.nodePort of the service. If not provided, a random port within the NodePort range is used.
  nodePort: ""
ingress:
  enabled: false
  ingressClassName: alb
  annotations: {}
    #alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    #alb.ingress.kubernetes.io/scheme: internet-facing
    #alb.ingress.kubernetes.io/ssl-redirect: "443"
    #alb.ingress.kubernetes.io/target-group-attributes: deregistration_delay.timeout_seconds=30
    #alb.ingress.kubernetes.io/target-type: ip
    #nginx.ingress.kubernetes.io/rewrite-target: /
  labels: {}
  path: /
  pathType: Prefix
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
# Default deny network policy ensures all the communication within the namespace
# is denied by default unless the otherwise is specified. We suggest setting this to
# true if that namespace only contains the Engine installation.
useDefaultDenyNetworkPolicy: false
# Network policies provides an extra layer of protection that we suggest. However,
# Network Policies only work if your CNI plugin implements them. We recommmend keeping this
# true because it provides extra security. (If your CNI does not implement, they will be ignored.)

# Job Canceler, Job Cleaner, Job Spawner and Job Watcher requires communication via Kubernetes API.
# Client version that is used in those pods needs to be compatible with the Kubernetes API version.
# You can read more on https://kubernetes.io/releases/version-skew-policy/
# Available client versions - compatible kubernetes versions are:
# v29.0.0     1.29
# v30.1.0     1.30
# v31.0.0     1.31
# v32.0.0     1.32
# v33.1.0     1.32
kubernetesClientVersion: "v33.1.0"
global:
  # Global Docker image registry
  imageRegistry: ""
  # imagePullSecrets:
  #   - registryKeySecretName
  imagePullSecrets: []
  useNetworkPolicies: true
image:
  tag: ""
broker:
  affinity: {}
  metrics:
    enabled: false
  uwsgi:
    image:
      registry: docker.io/gams
      repository: engine-broker
      # Tag of the image. If not specified, AppVersion is used.
      tag: ""
      pullSecrets: []
    resources:
      requests:
        cpu: "100m"
        memory: 250Mi
      limits:
        cpu: "400m"
        memory: 500Mi
  nginx:
    image:
      registry: docker.io/gams
      repository: engine-nginx
      # Tag of the image. If not specified, AppVersion is used.
      tag: ""
      pullSecrets: []
    resources:
      requests:
        cpu: "100m"
        memory: 100Mi
      limits:
        cpu: "200m"
        memory: 200Mi
    # Add extra ingress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
  networkPolicy:
    extraIngress: []
    extraEgress: []

# Forward Proxy forwards the requests from the Engine API
# Forward Proxy pod resource definitions
forwardProxy:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-forward-proxy
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "100m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    extraIngress: []
    extraEgress: []
    #  - ports:  # allows HTTPS access to any IP in public networks
    #    - protocol: TCP
    #      port: 443
    #    to:
    #    - ipBlock:
    #        cidr: 0.0.0.0/0

# Event manager listens to event queue and handles events.
# For example, it can call a webhook to notify a job is finished.
eventManager:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-event-manager
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

 # Cleaner chronologically removes unused files.
 # Cleaner pod resource definitions
cleaner:
  affinity: {}
  # Cleaner cleans up queues/pools etc. every 'heartbeatSeconds' seconds.
  # Do not touch this value unless you know what you are doing!
  heartbeatSeconds: 300
  image:
    registry: docker.io/gams
    repository: engine-cleaner
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 200Mi
    limits:
      cpu: "100m"
      memory: 300Mi
# Dependency checker spawns jobs that are dependent to other jobs
# when the other jobs complete. Dependency checker pod resource definitions
dependencyChecker:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-dependency-checker
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
# Hypercube appender appends multiple results into a single result.
# Hypercube appender pod resource definitions
hypercubeAppender:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-hypercube-appender
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
      ephemeral-storage: 512Mi
    limits:
      cpu: "300m"
      memory: 100Mi
      ephemeral-storage: 4Gi
# Hypercube unpacker used while sending hypercube jobs.
# Hypercube unpacker pod resource definitions
hypercubeUnpacker:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-hypercube-unpacker
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "200m"
      memory: 100Mi
# Job canceler can cancel job pods that are in pending state.
# Job canceler pod resource definitions
jobCanceler:
  affinity: {}
  image:
    registry: ""
    repository: engine-job-canceler
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets:
      - aws-ecr-secret
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# Job spawner takes a Engine job and creates a Kubernetes Job.
# Job spawner pod resource definitions.
jobSpawner:
  affinity: {}
  # Job spawner will keep the new jobs in the queue if there are
  # more than 'maxPendingJobs' pending jobs.
  maxPendingJobs: 5
  # Job spawner will keep the new jobs in the queue if there is
  # any job pending more than 'maxPendingJobDurationSeconds' seconds.
  maxPendingJobDurationSeconds: 120
  # Job spawner will subtract 'workerStartupDurationSeconds*idle_multiplier'
  # from user's volume quota for each worker spawned (e.g. any job outside of a
  # worker pool or each worker of a pool).
  workerStartupDurationSeconds: 0
  workerImage:
    registry: docker.io/gams
    repository: engine-worker
    tag: ""
    pullSecrets: []
  image:
    registry: ""
    repository: engine-job-spawner
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets:
      - aws-ecr-secret
  resources:
    requests:
      cpu: "50m"
      memory: 150Mi
    limits:
      cpu: "100m"
      memory: 150Mi
  workerNetworkPolicy:
    # Add extra egress rules to the NetworkPolicy of worker pods
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# Job watcher watches for OOM killed and evicted jobs.
# Job watcher pod resource definitions.
jobWatcher:
  affinity: {}
  image:
    registry: ""
    repository: engine-job-watcher
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets:
      - aws-ecr-secret
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 200Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# PG Bouncer is a connection pooler for PostgreSQL
# PG Bouncer pod resource definitions
pgBouncer:
  affinity: {}
  resources:
    requests:
      cpu: "100m"
      memory: 200Mi
    limits:
      memory: 300Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# MongoDB is used to store structured and unstructured data.
# MongoDB pod resource definitions
mongodb:
  useCustomStorageClass: false
  storageClassName: ""
  affinity: {}
  resources:
    requests:
      memory: 3Gi
      cpu: 100m
    limits:
      memory: 3Gi
      cpu: 400m

# PostgreSQL is used to store structured data.
# PostgreSQL pod resource definitions
postgresql:
  useCustomStorageClass: false
  storageClassName: ""
  externalDatabase:
    enabled: false
    host: ""
    database: "gamsrest"
    port: "5432"
    initialize:
      run: true
      connectionString: ""
    networkPolicy:
      podSelector: {}
      namespaceSelector: {}
      databaseNamespace: ""
  affinity: {}
  resources:
    requests:
      cpu: "100m"
      memory: 1024Mi
    limits:
      cpu: "400m"
      memory: 3072Mi

# RabbitMQ is used to pass messages between different components.
# RabbitMQ pod resource definitions
rabbitmq:
  useCustomStorageClass: false
  storageClassName: ""
  affinity: {}
  resources:
    limits:
      memory: 2048Mi
      cpu: 400m
    requests:
      memory: 2048Mi
      cpu: 100m
  networkPolicy:
    # Add extra ingress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraIngress: []
# Default Admin Password Hash, this is only effective during the installation. Updating this will not change
# the admin password. For generating hash, see `generate_password_hash` from werkzeug.security
# https://werkzeug.palletsprojects.com/en/2.0.x/utils/#werkzeug.security.generate_password_hash
gmsRunnerDefaultAdminPasswordHash: "pbkdf2:sha256:150000$HYwkEPJH$9d727c2343bd0b327a9abdf67aae1f393c095bee835dd1f95cec060c43c08a91"
