# -----------------------------------------------------------------
# Engine Helm Chart Configuration
# -----------------------------------------------------------------
global:
  # Global Docker image registry
  imageRegistry: ""
  # imagePullSecrets:
  #   - registryKeySecretName
  imagePullSecrets: []
  useNetworkPolicies: true
image:
  tag: ""

# -----------------------------------------------------------------
# NetworkPolicies provide an extra layer of security by controlling traffic
# flow between pods.
# NOTE: These policies only work if your cluster's CNI plugin (e.g., Calico,
# Cilium) supports them. If your CNI doesn't support them, this setting
# will be safely created but ignored by Kubernetes.

# If useDefaultDenyNetworkPolicy is set to true, a "default-deny-all" 
# NetworkPolicy is created.
# This policy blocks ALL traffic to ALL pods in the namespace
# unless another policy explicitly allows it.
# WARNING: We recommend 'true' ONLY IF this chart is the
#    *only* application running in its namespace.
#    Enabling this in a shared namespace will block traffic
#    to your other applications.
useDefaultDenyNetworkPolicy: false

# -----------------------------------------------------------------
# Config section includes common configuration settings for Engine
# Default settings are suggested
config:
  # -- Cleaner Settings --
  # Interval (in seconds) for the background cleaner to run.
  # This process cleans up expired queues, pools, and other resources.
  # ! Advanced Setting: We do NOT suggest changing this value unless you understand
  #    the performance impact on your system
  cleanerHeartbeatSeconds: 300
  # Job spawner will subtract 'workerStartupDurationSeconds*idle_multiplier'
  # from user's volume quota for each worker spawned (e.g. any job outside of a
  # worker pool or each worker of a pool).
  workerStartupDurationSeconds: 0
  # Job spawner will keep the new jobs in the queue if there are
  # more than 'maxPendingJobs' pending jobs.
  maxPendingJobs: 5
  # Job spawner will keep the new jobs in the queue if there is
  # any job pending more than 'maxPendingJobDurationSeconds' seconds.
  maxPendingJobDurationSeconds: 120
# -----------------------------------------------------------------
# Ingress settings
ingress:
  # Enable or disable the Ingress resource.
  enabled: false
  # ingressClassName: The IngressClass resource to use (e.g., "nginx", "alb", "gce").
  # For Kubernetes 1.18+, this is the recommended field.
  # Set to "" to use the cluster's default IngressClass.
  #
  # NOTE: If no default IngressClass exists in your cluster,
  # you MUST set this field to the name of your Ingress controller.
  ingressClassName: ""
  annotations: {}
  # AWS ALB Ingress Controller Annotations
    #alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    #alb.ingress.kubernetes.io/scheme: internet-facing
    #alb.ingress.kubernetes.io/ssl-redirect: "443"
    #alb.ingress.kubernetes.io/target-group-attributes: deregistration_delay.timeout_seconds=30
    #alb.ingress.kubernetes.io/target-type: ip
  # NGINX Ingress Controller Annotations:
    #nginx.ingress.kubernetes.io/rewrite-target: /
  labels: {}
  # The default path for all hosts:
  path: /
  # The path matching type (e.g., Prefix).
  pathType: "Prefix"
  # A list of hostnames to route traffic for.
  # This list MUST be provided for the Ingress to be created.
  hosts: []
  #  - my-app.example.com
  tls: []
  #  - hosts:
  #      - my-app.example.com 
  #    secretName: chart-example-tls

# -----------------------------------------------------------------
# Job Canceler, Job Cleaner, Job Spawner and Job Watcher requires communication via Kubernetes API.
# Client version that is used in those pods needs to be compatible with the Kubernetes API version.
# You can read more on https://kubernetes.io/releases/version-skew-policy/
# Available client versions - compatible kubernetes versions are:
# v29.0.0     1.29
# v30.1.0     1.30
# v31.0.0     1.31
# v32.0.0     1.32
# v33.1.0     1.33
# v34.1.0     1.34
kubernetesClientVersion: "v34.1.0"

broker:
  affinity: {}
  monitoring:
    # When set to True exposes metric at /api/metrics
    metricsEnabled: false
    # Specifies whether the monitoring should be enabled. Requires Prometheus Operator CRDs.
    # Requires metricsEnabled to be true to work.
    podMonitorEnabled: false
  uwsgi:
    image:
      registry: docker.io/gams
      repository: engine-broker
      # Tag of the image. If not specified, AppVersion is used. 
      tag: ""
      pullSecrets: []
    resources:
      requests:
        cpu: "100m"
        memory: 250Mi
      limits:
        cpu: "400m"
        memory: 500Mi
  nginx:
    image:
      registry: docker.io/gams
      repository: engine-nginx
      # Tag of the image. If not specified, AppVersion is used.
      tag: ""
      pullSecrets: []
    resources:
      requests:
        cpu: "100m"
        memory: 100Mi
      limits:
        cpu: "200m"
        memory: 200Mi
    # Add extra ingress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
  networkPolicy:
    extraIngress: []
    # Example: adding ingress to broker network policy for prometheus monitoring  
    #  - from:
    #    - namespaceSelector:
    #        matchLabels:
    #          kubernetes.io/metadata.name: monitoring
    #    - podSelector:
    #        matchLabels:
    #          app.kubernetes.io/name: prometheus
    #    ports:
    #    - port: 80
    #      protocol: TCP
    extraEgress: []
  # Broker service
  service: 
    # Such as: "ClusterIP", "NodePort", "LoadBalancer"
    type: ClusterIP
    # The port that the service will expose 
    port: 80
    # The NodePort to assign (only used if type is "NodePort").
    # If left empty, and NodePort type is chosen Kubernetes will assign a random port.
    # nodePort: ""
    annotations: {}

# Forward Proxy forwards the requests from the Engine API
# Forward Proxy pod resource definitions
forwardProxy:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-forward-proxy
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "100m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    extraIngress: []
    extraEgress: []
    # example: if you want to use an identity provider that is external: 
    # allows HTTPS access to any IP in public networks
    #  - ports:
    #    - protocol: TCP
    #      port: 443
    #    to:
    #    - ipBlock:
    #        cidr: 0.0.0.0/0
    #        except:
    #        - 10.0.0.0/8
    #        - 172.16.0.0/12
    #        - 192.168.0.0/16

# Event manager listens to event queue and handles events.
# For example, it can call a webhook to notify a job is finished.
eventManager:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-event-manager
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []
    # Example: if you want to use webhooks that are external:
    # allows HTTPS access to any IP in public networks
    #  - ports:
    #    - protocol: TCP
    #      port: 443
    #    to:
    #    - ipBlock:
    #        cidr: 0.0.0.0/0
    #        except:
    #        - 10.0.0.0/8
    #        - 172.16.0.0/12
    #        - 192.168.0.0/16

 # Cleaner chronologically removes unused files.
 # Cleaner pod resource definitions
cleaner:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-cleaner
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 200Mi
    limits:
      cpu: "100m"
      memory: 300Mi
# Dependency checker spawns jobs that are dependent to other jobs
# when the other jobs complete. Dependency checker pod resource definitions
dependencyChecker:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-dependency-checker
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
# Hypercube appender appends multiple results into a single result.
# Hypercube appender pod resource definitions
hypercubeAppender:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-hypercube-appender
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
      ephemeral-storage: 512Mi
    limits:
      cpu: "300m"
      memory: 100Mi
      ephemeral-storage: 4Gi
# Hypercube unpacker used while sending hypercube jobs.
# Hypercube unpacker pod resource definitions
hypercubeUnpacker:
  affinity: {}
  image:
    registry: docker.io/gams
    repository: engine-hypercube-unpacker
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "200m"
      memory: 100Mi
# Job canceler can cancel job pods that are in pending state.
# Job canceler pod resource definitions
jobCanceler:
  affinity: {}
  image:
    registry: ""
    repository: engine-job-canceler
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 100Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# Job spawner takes a Engine job and creates a Kubernetes Job.
# Job spawner pod resource definitions.
jobSpawner:
  affinity: {}
  workerImage:
    registry: docker.io/gams
    repository: engine-worker
    tag: ""
    pullSecrets: []
  image:
    registry: ""
    repository: engine-job-spawner
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 150Mi
    limits:
      cpu: "100m"
      memory: 150Mi
  workerNetworkPolicy:
    # Add extra egress rules to the NetworkPolicy of worker pods
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# Job watcher watches for OOM killed and evicted jobs.
# Job watcher pod resource definitions.
jobWatcher:
  affinity: {}
  image:
    registry: ""
    repository: engine-job-watcher
    # Tag of the image. If not specified, AppVersion is used.
    tag: ""
    pullSecrets: []
  resources:
    requests:
      cpu: "50m"
      memory: 100Mi
    limits:
      cpu: "100m"
      memory: 200Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# PG Bouncer is a connection pooler for PostgreSQL
# PG Bouncer pod resource definitions
pgBouncer:
  affinity: {}
  image:
    registry: ""
    repository: pgbouncer
    # Tag of the image. If not specified, AppVersion is used.
    tag: "1.19.1"
    pullSecrets: []
  resources:
    requests:
      cpu: "100m"
      memory: 200Mi
    limits:
      memory: 300Mi
  networkPolicy:
    # Add extra egress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraEgress: []

# MongoDB is used to store structured and unstructured data.
# MongoDB configurations
mongodb:
  persistence:
    # Storage Class to use. Set to "" to use the cluster default.
    storageClassName: ""
    # Size of the persistent volume.
    size: 8Gi # default size
    # Access mode for the volume.
    accessMode: ReadWriteOnce
  affinity: {}
  resources:
    requests:
      memory: 3Gi
      cpu: 100m
    limits:
      memory: 3Gi
      cpu: 400m

# For MongoDB migrations during upgrades that require changes in the MongoDB
mongoMigrate:
  image:
    registry: docker.io/gams
    repository: "engine-mongo-migrate"
    tag: ""

# PostgreSQL is used to store structured data.
# PostgreSQL pod resource definitions
postgresql:
  persistence:
    # Storage Class to use. Set to "" to use the cluster default.
    storageClassName: ""
    # Size of the persistent volume.
    size: 4Gi # default size
    # Access mode for the volume.
    accessMode: ReadWriteOnce
  # The default database name to create and connect to.
  # You can change this if you need to have a different db name
  database: "gams_engine" # default database name
  # if externalDatabase.enabled: false > the postgres db pod is created by this chart 
  externalDatabase:
    enabled: false
    # if externalDatabase enabled connectionString is needed.
    # Hostname of your postgres database:
    # Example: "postgresql-svc-name.database-namespace.svc.cluster.local"
    host: ""
    port: "5432"
    initialize:
      # Set to 'true' to run this one-time initialization job.
      # This is strongly recommended for first-time setup.
      run: true 
      # Provide the *admin connection string* for the database.
      # This is REQUIRED if 'initialize.run' is set to 'true'.
      #
      # !! IMPORTANT: The user in this string (e.g., 'postgres')
      #    MUST have permissions (create, alter, grant usage) within the database.
      #
      # Format: postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>
      connectionString: "" 
      # Example: "postgresql://postgres:YourSecurePa$$word@postgresql-ha-cnpg-rw.database.svc.cluster.local/gamsdb"
  affinity: {}
  resources:
    requests:
      cpu: "100m"
      memory: 1024Mi
    limits:
      cpu: "400m"
      memory: 3072Mi

# For PostgreSQL migrations during Engine upgrades that require changes in the PostgreSQL db.
postgresqlMigrate:
  image:
    registry: docker.io/gams
    repository: "engine-postgres-migrate"
    tag: ""

# RabbitMQ is used to pass messages between different components.
# RabbitMQ pod resource definitions
rabbitmq:
  monitoring:
    # Specifies whether the monitoring should be enabled. Requires Prometheus Operator CRDs.
    podMonitorEnabled: false
  persistence:
    # Storage Class to use. Set to "" to use the cluster default.
    storageClassName: ""
    # Size of the persistent volume.
    size: 4Gi # default size
    # Access mode for the volume.
    accessMode: ReadWriteOnce
  affinity: {}
  resources:
    limits:
      memory: 2048Mi
      cpu: 400m
    requests:
      memory: 2048Mi
      cpu: 100m
  networkPolicy:
    # Add extra ingress rules to the NetworkPolicy
    # (only relevent if global.networkPolicy.enabled is true)
    extraIngress: []

# For RabbitMQ migrations during Engine upgrades that require changes in RabbitMQ
rabbitmqMigrate:
  image:
    registry: docker.io/gams
    repository: engine-queue-migrate
    tag: ""
